{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1 style="backdrop-filter:blur(20px); 
                   background-color: rgba(0, 0, 0, 0.5);
                   padding: 10px;
                   border-radius: 10px">{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content" style="backdrop-filter:blur(20px); background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 10px;">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer" >
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
